body {
    background-image: url("space.png");

}

.row {
  min-height: 300px !important;
}

.available {
  min-height: 300px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: rgba(192, 192, 192, .7);
 }

.inventory {
 border-width: 2px;
 border-color: black;
 border-style: solid;
 min-height: 500px;
 background-color: rgba(192, 192, 192, .7);
}

.stats {
 border-width: 2px;
 border-color: black;
 border-style: solid;
 min-height: 400px;
 background-color: rgba(192, 192, 192, .7);
}

.gamelog {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  height: 250px;
  background-color: rgba(192, 192, 192, .7);
}

.locations {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  height: 250px;
  background-color: rgba(192, 192, 192, .7);

}
