<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <h1> TACO's AVAILABLE </h1>
    <li ng-repeat="taco in currentDayInventory">
      <a data-toggle="modal" data-target="#buyModal">{{ taco.type }}  {{ taco.currentPrice }}</a>
    </li>
  </div>

  <div id="buyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Buy </h4>
        </div>
        <div class="modal-body">
          <p>How many {{ taco.type }} would you like to buy?  </p>
          <form>
            <input type="number" name="quantity" placeholder="input a number" required>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-submit="buyTacos(taco, quantity)">Buy</button>
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

        </div>
        <div class="modal-footer">
          <p> You dont have enough cash for this amount!!  </p>

        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <h1> TACO INVENTORY  </h1>
    <li ng-repeat="taco in playerInventory">
      {{ taco.tacoType }}  {{ taco.tacoQuantity }}  {{ taco.tacoPrice }}
    </li>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <h1> GAME STATS  </h1>
    <ul>
      <li>Cash  {{ cash }}</li>
      <li>Bank {{ bank }}</li>
      <li>Loan Amount {{ loan }}</li>
      <li>Day {{ dayCount }}</li>
      <!-- Add buttons to deposit, withdraw, pay off loan, take more loan(?) -->
    </ul>
  </div>
</div>
<div class="row">

  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <h1> GAME LOG </h1>
    <p ng-if="dayEvent"> {{ dayEvent }} </p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <h1> LOCATIONS   </h1>
    <ul>
      <li ng-click="nextDay()">Downtown</li>
      <li ng-click="nextDay()">Sporting Event</li>
      <li ng-click="nextDay()">Beach</li>
      <li ng-click="nextDay()">Suburbs</li>
      <li ng-click="nextDay()">Fair</li>
      <li ng-click="nextDay()">University</li>
    </ul>
  </div>
</div>

<button ng-click="newGame()">New Game</button>
