<br> <br>

<div class="row">
  <div class="col-lg-4">
    <h1 id="banner-hero">THE HERO</h1>
    <img id="banner" src="css/cowboy_sunset.png">
  </div>

  <div class ="col-lg-4">
    <img id="banner" src="css/taco-wars.jpg">
  </div>

  <div class="col-lg-4">
    <h1 id="banner-villain">THE VILLIAN</h1>
    <img id="banner" src="css/trump.png">
  </div>
</div>



<br>
<div class="story">
<p> <center><h3>  The year is 2047.  After the Great Food War of 2039, the evil dictator Ronald McTrump has imposed his will and banned tacos from the public.  You, being a champion of the people and lover of tacos, refuses to accept this unfair decree.  So go forth with your trusty taco truck and deliver to the people what they truly want: TACOS! </h3>  </p>

<br>

<button type="button" class="btn btn-danger" ui-sref="game"> <center> Start Game </button>
</div>
</div>
